.welcome__h {
    text-align: center; 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: rgb(255, 255, 255); 
    font-size: 38px;
    line-height: 50px;
  }

  .welcome__h2 { 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: rgb(255, 255, 255); 
    font-size: 28px;
    line-height: 42px;
  }
    
  .welcome__p {
    text-align: center; 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 24px;
  }

  .welcome__a {
    text-align: center; 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: rgb(208, 217, 242); 
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
   }

  .welcome__a:hover {
    color: rgb(137, 169, 255); 
    cursor: pointer;
   }

  .welcome__a:visited {
     color: rgb(255, 112, 82);
    }

   .welcome__p--instructions {
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
  }
    
  .welcome__p--alert {
    text-align: left; 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: orange; 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
  }
    
  .welcome__p--note {
    text-align: center; 
    font-family: Muli; 
    font-weight: 200; 
    font-style: normal; 
    color: lavender; 
    font-size: 15px;
    line-height: 22px;
  }
